button {
    position: absolute;
}

.content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;

    .card {
        width: 350px;
        height: 350px;

        position: relative;

        border-radius: 10px;
        background-color: black;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .count {
            position: absolute;
            top: 10px;
            left: 10px;

            color: cyan;
            font-weight: 700;
            background-color: black;
            padding: 10px 15px;
            border-radius: 50%;
        }

        .card-img {
            width: 100%;
            height: 200px;

            border-radius: 10px 10px 0 0;
        }

        .card-description {
            margin: 10px;

            display: flex;
            flex-direction: column;
            gap: 5px;

            color: white;

            .brand,
            .model,
            .amount {
                color: cyan;
            }

            .card-tags {
                width: max-content;

                display: flex;
                flex-direction: row;
                gap: 15px;

                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);

                span {
                    color: black;

                    background-color: cyan;
                    padding: 5px 10px;
                    border-radius: 10px;
                }
            }
        }
    }
}
